.title{
	background-color: orange;
	padding: 15px 50px 15px 50px;
	margin-right: 75%;
	margin-top: 7px;
	margin-left: 7px;
	font-weight: bolder;
	font-size: 200%;
}
p{
	background-color: #30F2EC;
	margin-left: 7px;
	margin-top: 7px;
	margin-right: 65%;
	padding: 15px 25px;
	height: 300px;
	font-weight: bold;
	font-size: larger;
}
.computerScore{
	background-color: #56DE38;
	margin-right: 60%;
	padding: 20px 200px 0px 15px;
	position: absolute;
	float: left;
	clear: both;
}
.tracker{
	background-color: #B7B904;
	position: absolute;
	float: right;
	margin-left: 25%;
	padding: 20px 100px 0px 15px;
}
.mond1{
	position: absolute;
	clear: both;
	margin-top: 24%;
	background-color: white;
	margin-left: 7px;
}
.mond2{
	position: absolute;
	clear: both;
	margin-left: 18%;
	margin-top: 24%;
	background-color: white;
}
.mond3{
	position: absolute;
	clear: both;
	background-color: white;
	margin-left: 36%;
	margin-top: 24%;
}
.mond4{
	position: absolute;
	clear: both;
	background-color: white;
	margin-top: 24%;
	margin-left: 56%;
	height: 217px;
	width: 259px;
}
.scoreContext{
	position: absolute;
	clear: both;
	margin-top: 40%;
	width: 60%;
}
b{
	background-color: #2574FD;
	margin-left: 7px;
	font-weight: bold;
	font-size: larger;
}
.userScore{
	background-color: #F7FAB2;
	margin-right: 60%;
	padding: 20px 200px 0px 15px;
	position: absolute;
	float: left;
	clear: both;
	margin-top: 42%;
}